<div class="portfolioMotherDiv" id="portfolio">

    <div class="mainPortfolioDivClass">


    <h1 data-aos="fade-up" data-aos-delay="300"
    data-aos-duration="1000"
    >
        Portfolio
    </h1>

    <p data-aos="fade-up" data-aos-delay="300"
    data-aos-duration="1000"
    >{{"portfolio-p1" | translate }}</p>

<!-- AB HIER FOR SCHLEIFE -->

@for(singleProject of projects; track $index){
    <div class="singleProjectMainDiv" >

        <div [attr.data-aos]="$index % 2 === 0 ? 'zoom-in-right' : 'zoom-in-left'" 
        data-aos-delay="300"
    data-aos-duration="1000"
    data-aos-anchor-placement="center"
        class="singleProjectChildDiv1" >
            <img src="{{singleProject.imgSource}}" alt="" 
            [class.scaled]="isScaled"
            (touchstart)="onTouchStart()"
            (touchend)="onTouchEnd()"
            >
        </div>
        
        <div [attr.data-aos]="$index % 2 === 0 ? 'zoom-in-left' : 'zoom-in-right'" 
        data-aos-delay="300"
        data-aos-duration="1000"
        data-aos-anchor-placement="center"
        class="singleProjectChildDiv2" >
            <h2>{{singleProject.name}}</h2>
            <h2>{{singleProject.toolsUsed}}</h2>

            <!-- <p>{{singleProject.description}}</p> -->
            <p>{{ getTranslatedDescription(singleProject.descriptionKey) }}</p>
            
            <div class="projectButtonDiv">

                <a href="{{singleProject.liveTestUrl}}" target="_blank"><button  >Live Test</button></a>
               <a href="{{singleProject.githubLink}}" target="_blank"><button>Github</button></a>
            </div>
        </div>


    </div>
    
    
}



   

<!-- FOR SCHLEIFE -->
 <div class="mainReferenceDivClass"><app-references></app-references></div>


    </div>







</div>