<div class="portfolioMotherDiv">

    <div class="mainPortfolioDivClass">


    <h1>
        Portfolio
    </h1>

    <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>

<!-- AB HIER FOR SCHLEIFE -->

@for(singleProject of projects; track $index){
    <div class="singleProjectMainDiv">

        <div class="singleProjectChildDiv1">
            <img src="{{singleProject.imgSource}}" alt="">
        </div>
        
        <div class="singleProjectChildDiv2">
            <h2>{{singleProject.name}}</h2>
            <h2>{{singleProject.toolsUsed}}</h2>

            <p>{{singleProject.description}}</p>

            <div class="projectButtonDiv">

                <a href="{{singleProject.liveTestUrl}}" target="_blank"><button  >Live Test</button></a>
               <a href="{{singleProject.githubLink}}" target="_blank"><button>Github</button></a>
            </div>
        </div>


    </div>
    
    
}



   

<!-- FOR SCHLEIFE -->


    </div>







</div>