
.portfolioMotherDiv{

    padding: 110px 0px 32px 0px;
    min-height: 80vh;
    
    width: 100%;
    background-color: #141D2F;

    display: flex;
    justify-content: center;
    align-items: center;



}



.mainPortfolioDivClass{
    max-width: 1800px;
    width: 90%;
    background-color: #141D2F;
   color: white;
    background-color: #141D2F;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

>p{margin: 16px 0px 48px 0px;}

    >h1{
        font-size: clamp(16px, 10vw, 90px);
            font-weight: 600;
            white-space: nowrap;
            line-height: 120px;
            margin: 0px 0px 0px 0px;
            
    }

    >div:nth-child(odd){
        flex-direction: row;
        

    }
    >div:nth-child(even){
        flex-direction: row-reverse;
        >div{
            
            >p{
                text-align: end;
            }
        }
        >div:nth-child(2){
            align-items: flex-end;
            
        }
        
    }
}



.singleProjectMainDiv{
    display: flex;
width: 95%;




}



.singleProjectChildDiv1{
    display: flex;
    justify-content: center;
    align-items: center;
 width: 50%;
 
 >img{width: 60%;
        transition: all 300ms ease;
    &:hover{
        scale:1.6;
    }}

    >img.scaled{
        transform: scale(1.6);
    }
}

.singleProjectChildDiv2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 16px 0px 48px 0px;

   
  
    >h2:nth-child(1){
    //    font-size: clamp();
        font-weight: 700;
        color: #9747FF;
       margin: 32px 0px 12px 0px;
       
    }

    >h2:nth-child(2){
        color: chartreuse;
        font-weight: 300;
        margin: 0px 0px 0px 0px;
        font-size: 20px;
        
    }

    >div{
        display: flex;
        gap: 16px;
        >a{
            >button{
                font-size: 16px;
                font-family: 'Poppins';
                color: white;
                padding: 8px 16px;
                border-radius: 8px;
                cursor: pointer;
                transition: transform 100ms ease, background-color 200ms ease;
                margin: 16px 0px;
                background-color:#9747FF;
                border: none;
                &:hover{
                    background-color:chartreuse ;
                }
            }
        }
        >a:nth-child(2){
            >button{
                background-color: #141D2F;
                border: 1px solid chartreuse;
                &:hover{
                    background-color:chartreuse ;
                }
            }
        }

        


    }
   
}


.mainReferenceDivClass{
    width: 100%;
    
    margin: 80px 0px;
}

////////////////////////MEDIA QUERIES

@media screen and (max-width: 780px) {

    .mainPortfolioDivClass{
        p{text-align: center;
        margin: 0px 0px 32px 0px;}

        >div:nth-child(odd){
            flex-direction: column;
    
        }
        >div:nth-child(even){
            flex-direction: column;
    
        }
        >div{
            margin: 0px 0px 32px 0px;
        }
    }

    .singleProjectMainDiv{

        
        flex-direction: column;
        align-items: center;
    }

    .singleProjectChildDiv1{
        width: 70%;

        >img{width: 75%;
            transition: all 250ms ease;
        &:hover{
            scale:1.8;
        }}

        >img.scaled{
            transform: scale(1.8);
        }
    }
    .singleProjectChildDiv2{
        align-items: center;
        width: 100%;
        p{text-align: center;}
        >h2{
            text-align: center;
        }
        >h2:nth-child(1){
       
            font-weight: 300;
            color: #9747FF;
           margin: 0px 0px 0px 0px;
           
        }
        
    }

    .mainPortfolioDivClass{
        >div:nth-child(even){
           
            >div{
                
                >p{
                    text-align: center;
                }
            }
            >div:nth-child(2){
                align-items: center;
                
            }
            
        }
    }

  
}


   
@media screen and (max-width: 500px) {

    .portfolioMotherDiv{

        padding: 80px 0px 0px 0px;}


.mainPortfolioDivClass{
    >h1{line-height:80px ;}
    >h2{
        line-height: 100px;
    }
   
}
}
