



<div class="fixedDivClass">
    
    <div class="maxWidthClass">

        <div class="mainHeaderDivClass">
            <div class="nameLogoDivClass">
                <a href="/"><p>R</p><p >o</p><p class="gradient-underline">m</p><p >a</p><p>N</p></a>
                <!-- <p>R</p><p >o</p><p class="gradient-underline">m</p><p >a</p><p>N</p> -->
            </div>
        
            <div class="navbarDivClass">
                <a href="#about-me" class="underline-link">{{"about me" | translate }}</a>
                <a href="#skills" class="underline-link">{{"skills" | translate }}</a>
                <a href="#portfolio" class="underline-link">Portfolio</a>
             
                <!-- <button (click)="translate.switchLanguage('en')">EN</button>
                <button (click)="translate.switchLanguage('de')">DE</button> -->
                <img src="../../../assets/img/german.png" alt="Deutsche Seite" (click)="translate.switchLanguage('de')" >
                <img src="../../../assets/img/english.png" alt="English site" (click)="translate.switchLanguage('en')" >
               
            </div>

            <div class="mainMobileMenuDiv">
                <div class="mobile-menu-links" id="mobiledropdown" *ngIf="this.isMenuActive" (click)="toggleMenu()" [class.active]="isMenuActive">
                
                    <a href="#about-me">About me</a>
                    <a href="#skills">Skills</a>
                    <a href="#portfolio" >Portfolio</a>
                    <a href="#contact">Contact</a>
                    
                    
                    <a >
                        <img src="../../../assets/img/german.png" alt="Deutsche Seite" (click)="translate.switchLanguage('de')" >
                        <img src="../../../assets/img/english.png" alt="English site" (click)="translate.switchLanguage('en')" >
                    </a>
                   
                  </div>
                  
                  <div id="burger-menu" class="burger-menu" (click)="toggleMenu()" [class.active]="isMenuActive">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            
            </div>

           
        
        
        
        </div>


    </div>



    



</div>

