.mainHeaderDivClass{
    // position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 32px 0px 32px;
}

.nameLogoDivClass{
display: flex;
}

.navbarDivClass{
    display: flex;
    gap: 32px;

}