.motherDiv{
    padding: 140px 0px 0px 0px;
    height: 100vh;
    width: 100%;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #141D2F;
   
}

.mainLandingPageDivClass{
    max-width: 1800px;
    width: 100%;
    background-image: url('../../../assets/img/28.\ Hero\ Background.png');
    background-repeat: no-repeat;
    background-position: 0px 220px;
    background-size: 100% 100%;
}

.mainChild1DivClass{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}

.mainChild2DivClass{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 80px 0px 0px 0px;
    
}

.horizontLineClass{
    width: 200px;
    height: 4px;
    background-color: #9747FF;
}

.linksDivClass{
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0px 0px 0px 32px;

    >a{
        width: 48px;
        transition: all 200ms ease;
        cursor: pointer;
        color: white;
        text-decoration: none;

        &:hover{
            scale: (1.2);
        }
    }


    >a:nth-child(4){
        width: 200px;
    }
   
}

.mainImgDivClass{
    padding: 20px 0px 0px 0px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
   
>img{
    height: 100%;
    width:100%;
   
    object-fit: contain;
}


background-image: url('../../../assets/img/29.\ photo\ shadows.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 600px 600px;

}


.welcomeTextDivClass{
    // position: relative;
    // right: 32px;
    display: flex;
    color:azure;

    


    > div:nth-of-type(1){
        transform: rotate(-90deg);
        display: flex;
        
        width: 60px;

        >h2{
            font-weight: 400;
            margin: 0px;
            white-space: nowrap;
            font-size:62px;
            position: relative;
            top: 24px;
            right: 24px;
            width: 60px;
            height: 40px;
        
        }
    }

    > div:nth-of-type(2){
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    
        >h1{
            margin: 0px;
            font-size: 90px;
            font-weight: 600;
            white-space: nowrap;
         
            line-height: 58px;
        }
        >h2{
            font-size: 64px;
            font-weight: 400;
            margin: 0px;
            white-space: nowrap;
            color: #9747FF;
        }
    }
}



.textAndButtonDivClass{
    // width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    >button{
        font-size: 24px;
        font-family: 'Poppins';
        color: white;
        padding: 16px 32px;
        border-radius: 16px;
        border: none;
        background-color: #70E61C;;
        cursor: pointer;
        transition: transform 100ms ease, background-color 150ms ease;

        margin: 32px 0px;

        &:hover{
            background-color:#9747FF ;
            transform: scale(1.2, 1.1) translateY(5%);
          
        }
        
    }
}


///////////////////////MEDIA QUERIES



@media screen and (max-width: 1690px) {

    .motherDiv{
        
        padding: 100px 0px 0px 0px;
        background-position: 50% 50%;
    }

    .mainChild1DivClass{
        flex-direction: column;
    }

    .welcomeTextDivClass{
        margin: 24px;
    }

    .mainChild2DivClass{
        padding: 0px 0px 32px 0px;
        justify-content: center;
    }

    .textAndButtonDivClass{
        margin: 16px 0px 0px 0px;
        >button{
            margin: 0px 0px 40px 0px;
        }
    }

  }

  @media screen and (max-width: 945px) {

    .welcomeTextDivClass{
        margin: 8;
    }


    .welcomeTextDivClass{
        // position: relative;
        // right: 32px;
        display: flex;
        color:azure;
    
        >h2{
            font-size:48px;
            position: relative;
            top: -8px;
            left: 60px;
        }

        >div{
            >h1{
                font-size: 70px;
                line-height: 58px;
            }
            >h2{
                font-size: 48px;
            }
        }
    }


  }


  @media screen and (max-width: 700px) {
.horizontLineClass{
    display: none;
}
.linksDivClass{
    margin: 0;
    >a:nth-of-type(4){
        display: none;
}
  }

}

