<div class="motherDiv">

    <div class="mainLandingPageDivClass" >

        <!-- style="display:none" -->

        <div class="mainChild1DivClass">
            <div  class="mainImgDivClass">
                <img src="../../../assets/img/profile1.png" alt="">
            </div>
        
            <div class="textAndButtonDivClass">
                <div class="welcomeTextDivClass">
                    <div><h2>I am</h2></div>
                    
                    <div><h1>Roman Kabucov</h1>
                     <h2>FRONTEND DEVELOPER</h2></div>
                </div>
        
        
                
        
                <button>Let's talk!</button>
        
        
        
            </div>
        </div>
        
    <div  class="mainChild2DivClass">
        <div class="horizontLineClass"></div>
        <div class="linksDivClass">
    
        <a href="https://github.com/Solquarters" target="_blank" ><img src="../../../assets/img/githublogo.svg" alt=""></a>
        <a href="https://www.linkedin.com/in/roman-kabucov/" target="_blank" ><img src="../../../assets/img/linkedinlogo1.svg" alt=""></a>
        <a href="mailto:rom.kabucov@gmail.com"><img src="../../../assets/img/emaillogo.svg" alt=""></a>
           
        <a href="rom.kabucov@gmail.com">rom.kabucov&#64;gmail.com</a>  
    
        </div>
    </div>
        
        
    
    </div>







</div>

