
<!-- /////////////////////////////////////// -->

<!-- /////////////////////////////////////// -->



<div class="motherDiv" id="landingPageId">
    <div class="backgroundDiv">

        <img src="../../../assets/img/28. Hero Background.png" alt="">
    </div>

    <div class="mainLandingPageDivClass" >

        <!-- style="display:none" -->

        <div class="mainChild1DivClass">
            <div  class="mainImgDivClass image-container" data-aos="zoom-out-down"
            data-aos-delay="250"
    data-aos-duration="1200"
    data-aos-once="true">
                <img class="foreground-image" src="../../../assets/img/profile1.png" alt="">
                <img class="background-image" src="../../../assets/img/29. photo shadows.png" alt="">
            </div>
        
            <div class="textAndButtonDivClass" 
            data-aos="zoom-out-down"
            data-aos-delay="250"
    data-aos-duration="1200"
            >
                <div class="welcomeTextDivClass">
                    <div ><h2 [ngStyle]="{'font-size': iamFontSize}">{{"i am" | translate }}</h2></div>
                    
                    <div><h1>Roman Kabucov</h1>
                     <h2>{{"developer" | translate }}</h2></div>
                </div>
        
        
                
        <a href="#contact"> <button>{{"talkbutton" | translate }}</button> </a>
                
        
        
        
            </div>
        </div>
        
    <div  class="mainChild2DivClass" data-aos="zoom-out-right"
   
    data-aos-delay="250"
data-aos-duration="1200"
data-aos-once="true">
        <div class="horizontLineClass"></div>
        <div class="linksDivClass" >
    
        <a href="https://github.com/Solquarters" target="_blank" ><img src="../../../assets/img/githublogo.svg" alt=""></a>
        <a href="https://www.linkedin.com/in/roman-kabucov/" target="_blank" ><img src="../../../assets/img/linkedinlogo1.svg" alt=""></a>
        <a href="mailto:rom.kabucov@gmail.com"><img src="../../../assets/img/emaillogo.svg" alt=""></a>
           
        <a href="rom.kabucov@gmail.com">rom.kabucov&#64;gmail.com</a>  
    
        </div>
    </div>
        
        
    
    </div>







</div>

