.motherDiv{
    
    height: 100%;
    width: 100%;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #141D2F;
   
}

.mainPrivacyDivClass{
    max-width: 1800px;
    height: 100%;
    width: 100%;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;

    


}

.paddingDiv{
    padding: 50px 32px 100px 32px;
}



@media screen and (max-width: 400px) {

    a{
            white-space: normal; /* Allows the text inside the link to wrap */
    word-wrap: break-word; /* Ensures long words break to the next line */
    display: inline; /* Default, or use inline-block/block if needed */
        }
    

}