
<div class="allComponentDiv">
    <app-a-landingpage></app-a-landingpage>

    

    <app-b-aboutme></app-b-aboutme>

    <img class="colorSpot1" src="../../assets/img/54. Green shadow 3 (skills and portfolio section).png" alt="">
    <app-c-myskills></app-c-myskills>
    <img class="colorSpot2" src="../../assets/img/33. Purple shadow Footer.png" alt="">
    <app-d-portfolio></app-d-portfolio>
    <img class="colorSpot3" src="../../assets/img/54. Green shadow 3 (skills and portfolio section).png" alt="">
    <app-e-contact></app-e-contact>
    <img class="colorSpot4" src="../../assets/img/54. Green shadow 3 (skills and portfolio section).png" alt="">
</div>
