.allComponentDiv{
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: #141D2F;
    align-items: center;
    width: 100%;


    overflow: hidden;

   position: relative;
}

.aos-init[data-aos][data-aos].aos-animate {
    transform: unset;
    }


.colorSpot1{
    position: absolute;
    z-index: 2;
    left: 68%;
    top: 15%;
    width: auto;
    height: auto;
    overflow: hidden;
    transform: rotate(45deg);
}


.colorSpot2{
    transform-style: preserve-3d;
    position: absolute;
    z-index: 0;
    right: 80%;
    top: 30%;
    width: auto;
    height: auto;
    overflow: hidden;
    >img{
        position: relative;
        z-index: -1;
    }
}



.colorSpot3{
    position: absolute;
    z-index: 2;
    left: 80%;
    top: 40%;
    width: auto;
    height: auto;
    overflow: hidden;
    transform: rotate(-105deg);
}


.colorSpot4{
    position: absolute;
    z-index: 2;
    right: 75%;
    top: 87%;
    width: auto;
    height: auto;
    overflow: hidden;
    transform: rotate(-120deg);
}






@media screen and (max-width: 1000px) {


    .colorSpot1{left: 58%;}
    .colorSpot2{right: 70%;}
    .colorSpot3{left: 70%;}
    .colorSpot4{right: 60%;}
 



}

@media screen and (max-width: 600px) {


    .colorSpot1{left: 40%;}
    .colorSpot2{right: 63%;}
    .colorSpot3{left: 60%;}
    .colorSpot4{right: 50%;}
 



}