
.mySkillsMotherDiv{

    padding: 0px 0px 32px 0px;
    // height: 70vh;
    
    width: 100%;
    background-color: #141D2F;

    display: flex;
    justify-content: center;
    align-items: center;



}



.mainSkillsDivClass{
    max-width: 1800px;
    // height: 50vh;
    background-color: #141D2F;
   color: white;
    background-color: #141D2F;
    display: flex;
    justify-content: center;
    align-items: center;
}



.mainChild1DivClass{
width: 50%;
padding: 0px 16px; 
display: flex;
align-items: center;
flex-wrap:wrap ;
justify-content: center;
gap: 32px;


>img{
    width: 15%;
    transition: all 200ms ease;
    &:hover{
        scale: (1.2);
    }

}




}

.mainChild2DivClass{
    width: 40%;
    padding: 0px 16px; 


    >h1{
        font-size: clamp(16px, 10vw, 90px);
            font-weight: 600;
            white-space: nowrap;
            line-height: 120px;
            margin: 0px 0px 0px 0px;
            
    }

    >h2{
        font-size:62px;
        ////////////////////
        font-size: clamp(16px, 7vw, 68px);
        font-weight: 400;
        margin: 0px;
        white-space: nowrap;
        // position: relative;
        // right: -8px;
        padding: 0px 0px 3vw 0px;
    
    }

    >div{
        >button{
            font-size: 24px;
            font-family: 'Poppins';
            color: white;
            padding: 16px 32px;
            border-radius: 16px;
            border: none;
            background-color: #70E61C;;
            cursor: pointer;
            transition: transform 100ms ease, background-color 150ms ease;
    
            margin: 32px 0px;
    
            &:hover{
                background-color:#9747FF ;
                transform: scale(1.2, 1.1) translateY(5%);
              
            }
            
        }
    }
   
}

.furtherExpDivClass{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
>p{
    margin: 0px 0px 8px 0px;
}
    >div{
        display: flex;
        gap:16px;

        >img{
            width: clamp(24px, 10vw, 64px);
            transition: all 200ms ease;
            &:hover{
                scale: (1.2);
            }
        }
    }
}

.mobile-display-Class{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    >p{text-align: center;}
   

    >button{
        font-size: 24px;
        font-family: 'Poppins';
        color: white;
        padding: 16px 32px;
        border-radius: 16px;
        border: none;
        background-color: #70E61C;;
        cursor: pointer;
        transition: transform 100ms ease, background-color 150ms ease;

        margin: 32px 0px;

        &:hover{
            background-color:#9747FF ;
            transform: scale(1.2, 1.1) translateY(5%);
          
        }
        
    }
}



@media screen and (min-width: 781px) {
    .mySkillsMotherDiv{
      padding: 64px 0px 64px 0px;
    }
}



@media screen and (max-width: 780px) {
    .mainSkillsDivClass{
     
        
        flex-direction: column-reverse;
    }

    .mainChild1DivClass{
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .mainChild2DivClass{
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .mobile-d-noneClass{
        display: none;
    }
    .mobile-display-Class{
        display:flex;
        
    }
    .furtherExpDivClass{
        >div{
            margin: 0px 0px 16px 0px;
        }
    }



}




@media screen and (max-width: 500px) {
    .mainChild1DivClass{
       
        >img{
            width: 18%;
        }  
    }
}

