<div class="mySkillsMotherDiv" id="skills">

    <div class="mainSkillsDivClass" data-aos="zoom-in"
    data-aos-delay="250"
data-aos-duration="1000" >

        <div class="mobile-display-Class">
            <h2>{{"myskills-p2" | translate }}<span style="color: #9747FF">{{"myskills-span" | translate }}</span> ?</h2>
            <p>{{"myskills-p3" | translate }}</p>
            <button >{{"myskills-btn" | translate }}</button>
        </div>

        <div class="mainChild1DivClass">
        <img src="../../../assets/img/htmllogo.svg" alt="">
        <img src="../../../assets/img/csslogo.svg" alt="">
        <img src="../../../assets/img/javascriptlogo.svg" alt="">
        <img src="../../../assets/img/typescriptlogo.svg" alt="">
        <img src="../../../assets/img/angularlogo.svg" alt="">
        
        <img src="../../../assets/img/firebaselogo.svg" alt="">
        <img src="../../../assets/img/gitlogo.svg" alt="">
        <img src="../../../assets/img/restaoilogo.svg" alt="">



        <div class="hover-container" (mouseover)="isHovered = true" (mouseleave)="isHovered = false">
        <img src="../../../assets/img/learninglogo.svg" alt="" style="position: relative; top: 14px">
        <div *ngIf="isHovered" class="hover-div">
            
            <div class="hoverParentDiv"> 
                <span>{{"myskills-p5" | translate }}</span>

                <div class="hoverParentDiv2">
                    <div class="hoverChildDiv"> 
                        <img src="../../../assets/img/dotnetlogo.png" alt="">
                        <span>C#</span>
                        </div>
        
                    <div class="hoverChildDiv"> 
                        <img src="../../../assets/img/itsecicon.png" alt="">
                        <span>Cybersec.</span>
                    </div>

                </div>
                
        </div>
           
           
            
           
           
          
        </div>
    </div>

        <div class="furtherExpDivClass">
            <p>{{"myskills-p4" | translate }}</p>
            <div>
                <img src="../../../assets/img/cpplogo.svg" alt="">
                <img src="../../../assets/img/icons8-unreal-engine.svg" alt=""></div>
        </div>
        </div>
        
        
        
        <div class="mainChild2DivClass">
            <h1>{{"myskills-h1" | translate }}</h1>
            <p>{{"myskills-p1" | translate }}</p>
            <div class="mobile-d-noneClass">
                <h2>{{"myskills-p2" | translate }}<span style="color: #9747FF">{{"myskills-span" | translate }}</span> ?</h2>
                <p >{{"myskills-p3" | translate }}</p>
                <a routerLink="/" fragment="contact"><button >{{"myskills-btn" | translate }}</button></a>
            </div>
            
        
        </div>
        
        
        
        
        
        
        
        
        </div>
        


</div>


