<div class="mainLegalNoticeDiv">

    <h1>Impressum</h1>

 

    Roman Kabucov
    
    Kirchplatz 2
    57334 Bad Laasphe
    
     
    
    <!-- Umsatzsteuer-ID gem. § 27a UStG: DE 10987654 -->
    
     
    <br>
    Kontakt:
    <br>
    E-Mail: rom.kabucov&#64;gmail.com.de
    <br>
    Telefon: 0123/0123456
    Fax: 0123/0123458
    <br>
    www.beispielmann.de
    
     
    <br>
    Inhaltlich Verantwortlicher gem. § 18 Abs. 2 MStV:
    <br>
    Roman Kabucov (Kontakt s. o.)

    <br>

</div>
