
<div class="motherDiv">
    <div class="mainLegalNoticeDiv">

        <div class="childDiv">
            <h1>{{"legalnotice" | translate }}</h1>
    
        <p>Roman Kabucov<br />
        Kirchplatz 2<br />
        57334 Bad Laasphe</p>
        
        <h2>{{"contact-h1" | translate }}</h2>
        <p>
        E-Mail: rom.kabucov&#64;gmail.com</p>
        
        <p>Source: <a style="text-decoration: none; color:aliceblue" href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a></p>
    
        </div>
        
    </div>
    


</div>
