.motherContactDiv{
    padding: 110px 0px 32px 0px;
    min-height: 80vh;
    width: 100%;
    background-color: #141D2F;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.mainContactDiv{
    max-width: 1800px;

    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
color: white;
    >h1{
        font-size: clamp(16px, 10vw, 90px);
        margin: 0px;
        font-weight: 600;
        white-space: nowrap;
        line-height: calc(1vw + 1em);
    }
}

.childDiv1{
    width: 50%;

    >h2{
        font-size: clamp(12px,8vw, 24px);
        font-weight: 600;
        margin: 0px;
        white-space: nowrap;
        position: relative;
        z-index: 3;
       
    }
    >p{
        position: relative;
        z-index: 3;
        width: 90%;
    }
}
.childDiv2{
    width: 50%;
   
    display: flex;
    flex-direction: column;
}

.parentDiv1{
    padding: 32px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

.parentDiv2 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 16px 0;
    align-items: center;
  
    > svg {
      cursor: pointer;
      
      &:hover {
        rect {
          stroke: #70E61C;
        }
  
        path {
          fill: #70E61C;
        }
      }
    }
  }


@media screen and (max-width: 780px) {
    .parentDiv1{
        
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .childDiv1{
        width: 100%;
    }
    .childDiv2{
        width: 100%;
    }

}

@media screen and (max-width: 500px) {
    .motherContactDiv{
        padding: 80px 0px 32px 0px;
       
        
    }

}


