<div class="motherContactDiv" id="contact">




<div class="mainContactDiv">

    <h1>Contact</h1>

    <div class="parentDiv1">

        <div class="childDiv1">
            <h2>Got a problem to solve?</h2>
            <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</p>
           
        </div>


        <div class="childDiv2">
            
            <app-contactform></app-contactform>


        </div>


        <div class="childDiv3"></div>


    </div>


</div>








</div>
