<div class="mainFooterDiv">

<div class="columnClass">
    <div class="nameLogoDivClass">
        <p>R</p><p >o</p><p class="gradient-underline">m</p><p >a</p><p>N</p>
    </div>
    <a href="/legal-notice">Legal notice</a>
</div>

<p>© Roman Kabucov 2024</p>

<div class="linksDivClass">
    
    <a href="https://github.com/Solquarters" target="_blank" ><img src="../../../assets/img/githublogo.svg" alt=""></a>
    <a href="https://www.linkedin.com/in/roman-kabucov/" target="_blank" ><img src="../../../assets/img/linkedinlogo1.svg" alt=""></a>
    <a href="mailto:rom.kabucov@gmail.com"><img src="../../../assets/img/emaillogo.svg" alt=""></a>
       
   

    </div>


</div>
