.mainFooterDiv{
    border-top: 2px solid #17c900 ;
    background-color: #141D2F;
    display: flex;
    justify-content: space-around;
    align-items: center;

   

    padding: 32px 16px;
}


.maxWidthClass{
    display: flex;
    justify-content: space-between;
    max-width: 1800px;
    align-items: center;
    width: 100%;
    >p{color: white}
}



.nameLogoDivClass{

    display: flex;
    >p{color: rgb(255, 255, 255);
        margin: 0px;
    font-size: 40px;
    user-select: none;
    
        text-decoration: underline;
        text-decoration-color:#ffffff;
       
        text-decoration-thickness: 1px;
    }
    
    >p:nth-child(1){
        font-size: 42px;
        text-decoration: none;
        background: linear-gradient(to left, #9747FF  72%, #a0a0a0 72% );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    >p:nth-child(2){
        text-decoration: none;
        background: linear-gradient(160deg, #9747FF 55%, #ffffff 68% );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    >p:nth-child(3){
        text-decoration: none;
        background: linear-gradient(to bottom, #9747FF 50%, #ffffff 65% );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        
    }
    >p:nth-child(4){
        background: linear-gradient(200deg, #9747FF 55%, #ffffff 68% );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-decoration: none;
    }
    >p:nth-child(5){
        text-decoration: none;
        background: linear-gradient(60deg, #9747FF 55%, #a0a0a0  20% );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        
    }
    
    }
    


    .columnClass{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // align-items: center;
        >a{color: white; text-decoration: none; cursor: pointer; font-weight: 200;}
        padding: 0px 38px;
    }


    .linksDivClass{
        display: flex;
        align-items: center;
        gap: 24px;
        padding: 0px 38px;
    
        >a{
            width: 48px;
            transition: all 200ms ease;
            cursor: pointer;
            color: white;
            text-decoration: none;
    
            
            &:hover{
                scale: (1.2);
            }
        }
    
    
        >a:nth-child(4){
            width: 200px;
        }
       
    }





    @media screen and (max-width: 700px) {


        .maxWidthClass{
            flex-direction: column;
            gap: 32px;
            padding: 40px 16px;

        }




    }