
<div class="aboutMeMotherDiv" id="about-me">

    <div class="mainAboutMeDivClass">

        <div class="mainChild1" 
        data-aos="fade-up-right"
        data-aos-delay="50"
data-aos-duration="1200"
>
            <h1>About me</h1>
            <p>Hi, I'm a german speaking certified Frontend Developer based near Marburg. My focus lies on the creation of user and mobile friendly applications. 
                Its important to me to stay on track with the latest technologies, while remaining an eye on good practise and strong first principles to ensure maintainability, scalability, and a seamless user experience. </p>
            <div>
                <div class="childDiv1">
                    <img src="../../../assets/img/locationlogo.svg" alt="">
                    <p>Flexible in terms of working environments, I can work effectively both on-site in Marburg and remotely.</p>
                </div>
        
                <div class="childDiv1">
                    <img src="../../../assets/img/lightbulblogo.svg" alt="">
                    <p>I am hungry for new workflows, technologies and problem solving in general.<br></p>
                </div>
        
                <div class="childDiv1">
                    <img src="../../../assets/img/puzzlelogo.svg" alt="">
                    <p>I consider myself a team player. It's important to me to serve the big picture, to listen and support my team with all my knowledge and skillset. 
                       
                    </p>
        
                </div>
        
        
            </div>
        </div>
        
        
        <div class="mainChild2" 
        data-aos="fade-up-left"
        data-aos-delay="50"
data-aos-duration="1200"
>
            <div class="circleDivClass"><img src="../../../assets/img/profile2.jpg" alt=""></div>
            <div class="divLineClass"></div>
            
        </div>
            
        
        </div>


</div>



