
<div class="aboutMeMotherDiv" id="about-me">

    <div class="mainAboutMeDivClass">

        <div class="mainChild1" 
        data-aos="fade-up-right"
        data-aos-delay="50"
data-aos-duration="1200"
>
            <h1>{{"About me" | translate }}</h1>
            <p> {{"about-text" | translate }}</p>
            <div>
                
        
                <div class="childDiv1">
                    <img src="../../../assets/img/lightbulblogo.svg" alt="">
                    <p>{{"about-p2" | translate }}<br></p>
                </div>
        
                <div class="childDiv1">
                    <img src="../../../assets/img/puzzlelogo.svg" alt="">
                    <p>{{"about-p3" | translate }}
                        
                       
                    </p>
        
                </div>

                <div class="childDiv1">
                    <img src="../../../assets/img/locationlogo.svg" alt="">
                    <p>{{"about-p1" | translate }}</p>
                </div>
        
        
            </div>
        </div>
        
        
        <div class="mainChild2" 
        data-aos="fade-up-left"
        data-aos-delay="50"
data-aos-duration="1200"
>
            <div class="circleDivClass"><img src="../../../assets/img/profile2.jpg" alt=""></div>
            <div class="divLineClass"></div>
            
        </div>
            
        
        </div>


</div>



