
<div class="aboutMeMotherDiv" id="about-me">

    <div class="mainAboutMeDivClass">

        <div class="mainChild1">
            <h1>About me</h1>
            <p>Hi, I'm a german speaking Frontend Developer based near Marburg. Motivated by the open opputunities within IT, I am excited about ...</p>
            <div>
                <div class="childDiv1">
                    <img src="../../../assets/img/locationlogo.svg" alt="">
                    <p>Flexible in terms of working environments, I can work effectively both on-site in Marburg and remotely.</p>
                </div>
        
                <div class="childDiv1">
                    <img src="../../../assets/img/lightbulblogo.svg" alt="">
                    <p>I am open-minded and always looking for personal challenges to constantly improve my knowledge and skills.</p>
                </div>
        
                <div class="childDiv1">
                    <img src="../../../assets/img/puzzlelogo.svg" alt="">
                    <p>In my profession, programming isn't just about writing code; it's a creative form of problem-solving. I take pride in my ability to distill
                        complex technical challenges into simple, user-friendly solutions. This way, I help you achieve your goals and bring your visions to life.
                    </p>
        
                </div>
        
        
            </div>
        </div>
        
        
        <div class="mainChild2">
            <div class="circleDivClass"><img src="../../../assets/img/profile2.jpg" alt=""></div>
            <div class="divLineClass"></div>
            
        </div>
            
        
        </div>


</div>



