.aboutMeMotherDiv{
    
    padding: 150px 0px 0px 0px;
    // height: 100vh;
    
    width: 100%;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #141D2F;



}


.mainAboutMeDivClass{
    max-width: 1800px;
    background-color: #141D2F;

    display: flex;
    align-items: center;
    justify-content: center;
}


.mainChild1{
    >h1{
        margin: 0px;
        // font-size: 80px;
        font-size: clamp(16px, 10vw, 90px);
        font-weight: 600;
        white-space: nowrap;
     
        line-height: 120px;
    }
    width: 45%;
    color: white;
    // position: relative;
    // left:100px;
}

.childDiv1{
    display: flex;
    // align-items: flex-start;
    align-items: center;
    gap: 8px;
    font-weight: 300;


    >p{ 
        width: 100%; 
        // margin:0px 0px 16px 0px;
        position: relative;
        z-index: 3;
    }

    >img{
        position: relative;
        z-index: 3;
        width: 48px;
        height: 48px;
        transition: all 200ms ease;
    
    &:hover{scale: 1.3}}
}


.mainChild2{
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    // position: relative;
    // left:120px;
    width: 35%;
    padding: 0px 0px 0px 32px;
   
}


.circleDivClass{
    width: 100%;
    

    border-radius: 50%;
    border: 4px solid #70E61C;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  
    >img{width: 100%;
    }
}

.divLineClass{
  
    width: 300px;
    height: 4px;
    background-color: #70E61C;

    display: none;
}







////////////Media Queries 

@media screen and (min-width: 1400px) {
    .mainAboutMeDivClass{
       
        justify-content: space-around;
    }

}


@media screen and (max-width: 780px) {

    .aboutMeMotherDiv{
        padding: 110px 0px 0px 0px ;
        // height: 90vh;
    }
   
    .mainAboutMeDivClass{
   
        flex-direction: column-reverse;
      
    }

    .mainChild1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
      
    }
    .mainChild2{
        padding: 0px;
        width: 50%;
      
    }
    
    
    

}


@media screen and (max-width: 600px) {

    .aboutMeMotherDiv{
        padding: 110px 0px 0px 0px ;
        // height: 95vh;
    }
    

}



@media screen and (max-width: 580px) {


    .mainChild1{
        width: 90%;
        >h1{
            line-height: 100px;
        }
        >p{margin: 0px 0px 16px 0px;}
       
      
    }


    .childDiv1{
        display: flex;
        align-items: center;
        gap: 8px;
        flex-direction: column;
        
    }    
    

}

@media screen and (max-width: 400px) {
    .aboutMeMotherDiv{
        padding: 80px 0px 0px 0px ;
        // height: 95vh;
    }
}




/////////////////////////min HEIGHT
@media screen and (min-height:  1441px) {
    .aboutMeMotherDiv{
        min-height: unset;
        padding: 0px 0px 0px 0px;
    }
    
    
    
    }