

    <form (ngSubmit)="onSubmit(contactForm)" #contactForm = "ngForm">
  
      <!-- <label for="name">Your name</label> -->
      <input 
  #nameModel="ngModel" 
  minlength="4" 
  [(ngModel)]="contactData.name" 
  type="text" 
  id="name" 
  name="name" 
  [placeholder]="'yourname'|translate"
  [ngStyle]="{
    'border': nameModel.invalid && nameModel.dirty ? '2px solid red' : (nameModel.valid ? '2px solid #70E61C' : ''), 
    'background-color': nameModel.valid ? '#141D2F' : '',
    'background-image': nameModel.invalid && nameModel.dirty ? 'url(../../../../assets/img/redAttentionIcon.svg)' : 
                        (nameModel.valid ? 'url(../../../../assets/img/checkedIcon.svg)' : 'none'),
    'background-repeat': 'no-repeat',
    'background-position': 'calc(100% - 12px) center',
    'background-size': '20px 20px'
  }" 
  required>

      @if (!nameModel.valid && nameModel.touched){
        <span>{{"valid-name-request" | translate }}</span>
        }



      <input #emailModel="ngModel" [(ngModel)]="contactData.email" type="text" id="email" name="email" [placeholder]="'youremail'|translate"
      [ngStyle]="{
        'border': emailModel.invalid && emailModel.dirty ? '2px solid red' : (emailModel.valid ? '2px solid #70E61C' : ''), 
        'background-color': emailModel.valid ? '#141D2F' : '',
        'background-image': emailModel.invalid && emailModel.dirty ? 'url(../../../../assets/img/redAttentionIcon.svg)' : 
                            (emailModel.valid ? 'url(../../../../assets/img/checkedIcon.svg)' : 'none'),
        'background-repeat': 'no-repeat',
        'background-position': 'calc(100% - 12px) center',
        'background-size': '20px 20px'
      }"  required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">

      @if (!emailModel.valid && emailModel.touched){
        <span>{{"valid-email-request" | translate }}</span>
        }
  
      <!-- <label for="message">Subject</label> -->
      <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" id="message" name="message" [placeholder]="'yourmessage'|translate" style="height:200px" 
      [ngStyle]="{
        'border': message.invalid && message.dirty ? '2px solid red' : (message.valid ? '2px solid #70E61C' : ''), 
        'background-color': message.valid ? '#141D2F' : '',
        'background-image': message.invalid && message.dirty ? 'url(../../../../assets/img/redAttentionIcon.svg)' : 
                            (message.valid ? 'url(../../../../assets/img/checkedIcon.svg)' : 'none'),
        'background-repeat': 'no-repeat',
        'background-position': 'calc(100% - 12px) calc(0% + 12px)',
        'background-size': '20px 20px'
      }" required>
      
    </textarea>
  
        @if (!message.valid && message.touched){
            <span>{{"valid-message-request" | translate }}</span>
        }

        
        <div *ngIf="popupVisible" class="popup-container" [ngClass]="{'fade-in': fadeIn, 'fade-out': fadeOut}">
          <p>{{ popupMessage }}</p>
        </div>

        <div class="custom-checkbox" [class.checked]="termsAccepted">
          <span class="checkbox-icon" (click)="toggleTerms()" ></span>
          <div>{{"privacy1" | translate }} &nbsp;<a routerLink="/privacy-policy" style="color: #9747FF; text-decoration: none"> {{"privacy2" | translate }} </a>&nbsp; {{"privacy3" | translate }}</div>
          
          
        </div>
        <div *ngIf="!termsAccepted && contactForm.submitted">
          <span>{{"privacy4" | translate }}</span>
        </div>
        
        <div style="display:flex; justify-content: center; width: 100%"><button type="submit" [disabled]="!contactForm.valid || !termsAccepted">{{"sendmessage" | translate }}</button></div>
     

 
         

    </form>


