

    <form (ngSubmit)="onSubmit(contactForm)" #contactForm = "ngForm">
  
      <!-- <label for="name">Your name</label> -->
      <input 
  #nameModel="ngModel" 
  minlength="4" 
  [(ngModel)]="contactData.name" 
  type="text" 
  id="name" 
  name="name" 
  placeholder="Your name"
  [ngStyle]="{
    'border': nameModel.invalid && nameModel.dirty ? '2px solid red' : (nameModel.valid ? '2px solid #70E61C' : ''), 
    'background-color': nameModel.valid ? '#141D2F' : '',
    'background-image': nameModel.invalid && nameModel.dirty ? 'url(../../../../assets/img/redAttentionIcon.svg)' : 
                        (nameModel.valid ? 'url(../../../../assets/img/checkedIcon.svg)' : 'none'),
    'background-repeat': 'no-repeat',
    'background-position': 'calc(100% - 12px) center',
    'background-size': '20px 20px'
  }" 
  required>

      @if (!nameModel.valid && nameModel.touched){
        <span>Please enter a fullname.</span>
        }



      <input #emailModel="ngModel" [(ngModel)]="contactData.email" type="text" id="email" name="email" placeholder="Your email" 
      [ngStyle]="{
        'border': emailModel.invalid && emailModel.dirty ? '2px solid red' : (emailModel.valid ? '2px solid #70E61C' : ''), 
        'background-color': emailModel.valid ? '#141D2F' : '',
        'background-image': emailModel.invalid && emailModel.dirty ? 'url(../../../../assets/img/redAttentionIcon.svg)' : 
                            (emailModel.valid ? 'url(../../../../assets/img/checkedIcon.svg)' : 'none'),
        'background-repeat': 'no-repeat',
        'background-position': 'calc(100% - 12px) center',
        'background-size': '20px 20px'
      }"  required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">

      @if (!emailModel.valid && emailModel.touched){
        <span>Please enter a valid email.</span>
        }
  
      <!-- <label for="message">Subject</label> -->
      <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" id="message" name="message" placeholder="Your message" style="height:200px" 
      [ngStyle]="{
        'border': message.invalid && message.dirty ? '2px solid red' : (message.valid ? '2px solid #70E61C' : ''), 
        'background-color': message.valid ? '#141D2F' : '',
        'background-image': message.invalid && message.dirty ? 'url(../../../../assets/img/redAttentionIcon.svg)' : 
                            (message.valid ? 'url(../../../../assets/img/checkedIcon.svg)' : 'none'),
        'background-repeat': 'no-repeat',
        'background-position': 'calc(100% - 12px) calc(0% + 12px)',
        'background-size': '20px 20px'
      }" required></textarea>
  
        @if (!message.valid && message.touched){
            <span>Please enter a message</span>
        }

        
        <div class="custom-checkbox" (click)="toggleTerms()" [class.checked]="contactData.terms">
          <span class="checkbox-icon"></span>
          <div>I've read the &nbsp;<a href="" style="color: #9747FF; text-decoration: none"> privacy policy </a>&nbsp; and agree to the processing of my data as outlined.</div>
          
          
        </div>
        <div *ngIf="!contactData.terms && contactForm.submitted">
          <span>Please accept the privacy policy.</span>
        </div>
        
        <div style="display:flex; justify-content: center; width: 100%"><button type="submit" [disabled]="!contactForm.valid || !contactData.terms">Send message</button></div>
     
  
    </form>





    <!-- <label for="terms">
          <input #termsModel="ngModel" [(ngModel)]="contactData.terms" type="checkbox" id="terms" name="terms" required>
          I've read the <a href="" style="color: #9747FF; text-decoration: none">privacy policy</a> and agree to the processing of my data as outlined.
        </label>
        <div *ngIf="!termsModel.valid && termsModel.touched">
          <span>Please accept the privacy policy.</span>
        </div> -->